#title{
    text-align: center;
    font-size: 40px;
    font-family: Kozuka Gothic Pro;
    margin: 30px;
}

#title a:link{
    color: #666;
    text-decoration: none;
}

#title a:visited{
    color: #666;
    text-decoration: none;
}

#topbar ul {
    list-style-type:none;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 20px;
    padding:0;
    margin:0 200px 50px 200px;
    overflow: hidden;
    background-color: whitesmoke;
}

#topbar li {
    float: left;
    border-right: 1px solid white;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: ghostwhite;
}

.about{
    overflow: inherit;
    float: left;
    text-align: center;
    width: 50%;
    max-width: 50%;
    margin-bottom: 100px;
    display: table;
}

.contact{
    overflow: inherit;
    float: left;
    text-align: center;
    width: 50%;
    max-width: 50%;
    margin-bottom: 100px;
}

.name{
    font-family: PingFangSC-thin;
}

.name h3 {
    color: cadetblue;
}

.footer {
    align-item: center;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    text-align: center;
    margin-top: 100px;
}
